/* General styles for the login container */

.login-body{
    width: 100vw;
    height: 100vh;
    background-color: #6e6e6e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/* Styles for form labels and inputs */
.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.login-container input[type="email"],
.login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

/* Styles for the button */
.login-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.login-container button[type="submit"]:hover {
    background-color: #26292c;
}

/* Styling the individual input divs */

/* Styling the paragraph and link */
.login-container p {
    text-align: center;
    margin-top: 5px;
    color: #555;
}

.login-container p span a {
    color: #0012da;
    text-decoration: none;
}

.login-container p span a:hover {
    text-decoration: underline;
}
