*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signup-body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6e6e6e;
}
/* .signup-container{
    width: 400px;
    background-color: rgb(255, 255, 255);
    text-align: center;
} */
/* General styles for the signup container */
.signup-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.signup-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #020000;
}

/* Styles for form labels and inputs */
.signup-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.signup-container input[type="text"]:focus,
.signup-container input[type="email"]:focus,
.signup-container input[type="password"]:focus {
    border-color: #000000;
    outline: none;
}

/* Styles for the button */
.signup-container .btn {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

.signup-container .btn:hover {
    background-color: #141b23;
}

.signup-p{
    text-align: center;
    margin-top: 8px;
}
